flask==1.1.1
gunicorn==20.0.4
Jinja2==2.10.1
Werkzeug==0.15
itsdangerous==1.1.0 
MarkupSafe==1.1.1
keras==2.3.1 
numpy>=1.9.1
keras-preprocessing==1.0.5 
keras-applications==1.0.6
six>=1.9.0 
tweepy==3.9.0
PySocks!=1.5.7,>=1.5.6
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow-cpu
tensorflow-estimator==2.4.0